body{
	/*background-color: white;*/
    width: 960px;
}

header{
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.container {
    margin-bottom: 10px;
	width: 100%;
    height: 75px;
    text-align: center;
    line-height: 75PX;
    font-size: 110%;
    
}

.myname{
    padding: 0px 50px;
    margin-left: 50px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    float: left;


}

/**.navbar {
    float:right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */
.navbar li{
	text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    float: right;
}
 #myphoto {
	width: 200px;
	height: 200px;
	margin-right: 20px;
 }
 /*.listscl{
 	color: white;
 }*/

 .mycontent {

    background-color: #dddddd;
    width: 960px;
    height: 650px;
 }
 #aboutme{
    float: left;
    margin-top: 50px;
    margin: 50px;
    width: 511px;
    /*height: 445px;*/
    background-color: white;

 }
 #contactme{
    float: left;
 }
 #portfolio{
    float: left;
 }
 .pimage{
 	float: left;
 	width: 200px;
 	height: 300px;
 }
 .ptext{
 	float: left;
 	width: 300px;
 	/*height: 300px; */
 }
 .resizeimagelinks {
 	width: 75px;
	height: 73px;
 }
 .connectme {
    float: left;
    margin-top: 50px;
    margin: 50px;
    float: right;
    background-color: white;
 }

 ul.logolist{
    float: right;
 	list-style: none;
    padding: 0px 10px;
 }
 ul.logolist li{
 	float: right;
 }
 h1 {

    font-size: 120%;
    color: #4aaaa5; 
 }
  h2 {

    font-size: 120%;
    color: #4aaaa5; 
 }
 
 footer {
    padding-top: 10px 0px 10px 0px;
    clear: both;
 	text-align: center;
    background-color: #666666;
   
 }